*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
body{
    background-color: beige;
    color: brown;
}

.bg-green{
    background-color: darkolivegreen;
    color: beige;
    padding: 10px;
    text-align: right;
}

ul li {
    list-style: none;
    display: inline;
    margin: 10px;
    font-size: 12px;
  }

hr {  
    height: 5px;  
    background-color: brown;  
    border: none;  
} 

  .nw-wbst{
    text-align: center;
    padding: 10px;
  }

#border{
    padding: 10px;
}

#img-writing {
    font-size: 12px;
    padding: 8px; 
}

#contact{
    background-color: lightpink;
    text-align: center;
    padding: 25px;
}

#box{
    width: 300px;
    height: 60px;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

h3{
    padding: 10px;
}

#info{
    border: 10px;
    font-size: 12px;
}

#button {
height: 25px;
width: 75px;
background: rgb(64, 24, 24);
color: white;
text-align: center;
}

#footer{
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
}
    